<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main>
    <h1 id="title" >Checklist App</h1>
    <form th:action="@{/todolist}" method="post" id="createpost">
        <input type="text" name="todo" id="todo" class="type-input"  placeholder="Todo" required>
        <button type="submit">Create</button>
    </form>
    <ul id="todolist">
        <script src="/js/fetchTodoAjax.js"></script>
    </ul>
</main>
</body>
</html>